/*  E T I Q U E T A S  */

body {
  background-color: #28262c;
}

h2 {
  padding-bottom: 2rem;
  font-family: Sora;
  font-weight: 700;
  font-size: 26px;
}

h3 {
  font-family: Sora;
  font-weight: 700;
  font-size: 18px;
}

h4 {
  font-family: Sora;
  font-weight: 600;
  font-size: 14px;
}

h5 {
  padding: 5px 0;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
}

li {
  display: inline-block;
}

img {
  border-radius: 10px;
  object-fit: cover;
}
