/*  G E N E R A L E S  */

* {
  font-family: Inter;
  color: #f0f0f0;
  margin: 0;
  padding: 0;
}
/* video de las paginas donde no hay contenido */
.video-espera {
  margin-top: 1rem;
}

/*  L I N E A S  Y  S E P A R A D O R E S  */
.line-nav {
  background-color: #34383f;
  margin-top: 70px;
  margin-bottom: 1.5rem;
  padding-bottom: 3px;
}
